@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

$header-bg-color : #242447;
$footer-bg-color : #242447;

$home-bg-image : url('../../images/main-img.jpg');
$home-bg-image-sm : url('../../images/main-img-sm.jpg');

$heading-color : #e9e9e9;
$text-color : rgb(199, 199, 199);
$hover-color : #f0ee8c;

$heading-font : 'Zen Kaku Gothic Antique', sans-serif;
$text-font : 'Oswald', sans-serif;